/* ============================ */
/*Brit's Reset*/
/* ============================ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid gray;
  text-decoration: none;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-size: 1.5rem;
}

/* ============================ */
/* General */
/* ============================ */

h1,
h2,
p {
  color: black;
}

h1 {
  font-family: 'Chelsea Market', cursive;
}

h2,
p,
a {
  font-family: 'Roboto Mono', monospace;
}

/* ============================ */
/* Nav: both  & color classes */
/* ============================ */

nav {
  height: 10vh;

}

nav a {
  color: white;
  display:inline-block;
  text-align: center;
  vertical-align:middle;
  border-radius: 10px;
  height:50%;
  width:10em;
  margin: 1em;
  padding: 10px;
}

.orange {
  background-color: #FF764E;
}

.lightblue {
  background-color: #5ED3EB;
}

.yellow {
  background-color: #FFCD69;
}

.lightsand {
  background-color: #f9e7dd;
}

.darksand {
  background-color: #ddb9a3;
  color:white;
}

/* ============================ */
/* Header */
/* ============================ */

.top-summary img {
  width: 30%;
  border-radius: 50%;
  display: inline-block;
}

}
div .summary-text {
  text-align:center;
  display:block;
}


/* ============================ */
/* Facts Section */
/* ============================ */

.fact {
  max-width: 35%;
  text-align: center;
  margin: 5% auto;
}

.fact img {
  width: 50%;
}

/* ============================ */
/* Footer  */
/* ============================ */

footer img{
  object-fit:100%;
  object-position:cover;
}